@font-face {
  font-family: 'Six Caps';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sixcaps/v23/6ae_4KGrU7VR7bNmabcS.ttf) format('truetype');
}

